@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

@font-face {
    font-family: "Quite Chocolatey"; 
    src: url("../fonts/QuiteChocolatey.ttf");
}

body {
    min-width: 1000px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: {
        image: url("../images/header_bg.png");
        repeat: no-repeat;
        size: cover;
    }
    .header_bg {
        background-color: rgba(224, 198, 144, 0.5);
        .header_head {
            display: flex;
            justify-content: space-between;
            padding: 38px 5px 50px 20px;
            .header_logo {
                color: #d03958;
                font-family: "Quite Chocolatey", sans-serif;
                font-size: 88px;
                font-weight: 400;
                line-height: 88px;
                letter-spacing: -1.2px;
            }
            .header_nav {
                display: flex;
                align-items: center;
                .header_menu {
                    display: flex;
                    .header_item {
                        .header_link {
                            text-decoration: none;
                            padding: 11px 15px;
                            color: #1b1b1b;
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 22px;
                            text-transform: uppercase;
                            letter-spacing: -0.36px;
                            &:hover {
                                color: #ffffff;
                                background-color: #d03958;
                                border-radius: 4px;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
        .header_main {
            display: flex;
            justify-content: space-between;
            padding: 80px 20px 200px;
            .header_main_text_wrap {
                .title {
                    font-family: Montserrat, sans-serif;
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 80px;
                    text-transform: uppercase;
                    letter-spacing: -1.8px;
                    .title_hl {
                        color: #d03958;
                    }
                }
                .header_main_text {
                    color: #161616;
                    font-family: "PT Serif", serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -0.4px;
                }
            }
            .header_main_form_wrap {
                position: relative;
                .header_main_form {
                    position: absolute;
                    left: -435px;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    background-color: #d03958;
                    padding: 33px 23px 28px;
                    border-radius: 4px;
                    .form_request {
                        text-align: center;
                        padding-bottom: 37px;
                        color: #ffffff;
                        font-family: Montserrat, sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: -0.44px;
                    }
                    .form_input {
                        width: 353px;
                        background-color: #ffffff;
                        color: #b5b5b5;
                        font-family: "PT Serif", serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: -0.4px;
                        padding: 17px 20px 20px;
                        border-radius: 4px;
                        border: none;
                        margin-bottom: 17px;
                        &:focus {
                            outline: 1px solid #b5b5b5;
                        }
                    }
                    .form_label {
                        color: #ffffff;
                        font-family: "PT Serif", serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: -0.4px;
                        position: relative;
                        padding-left: 45px;
                        cursor: pointer;
                        .form_checkbox {
                            position: absolute;
                            left: 0;
                            top: 2px;
                            width: 19px;
                            height: 18px;
                            background-color: #ffffff;
                            cursor: pointer;
                        }
                    }
                    .form_button {
                        margin-top: 18px;
                        background-color: #161616;
                        border-radius: 4px;
                        border: 0;
                        padding: 18px 0;
                        color: #ffffff;
                        font-family: Montserrat, sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: -0.44px;
                        cursor: pointer;
                    }  
                }
            }
        }
    }
}

.services {
    .services_title {
        padding-top: 30px;
        color: #161616;
        font-family: Montserrat, sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
        text-transform: uppercase;
        letter-spacing: -1px;
        .services_hl {
            color: #d03958;
        }
    }
    .services_main {
        display: flex;
        justify-content: space-between;
        .services_main_block {
            max-width: 170px;
            padding-top: 90px;
            padding-bottom: 68px;
            .services_main_block_pict {
                text-decoration: none;
                display: block;
                margin: 0 auto;
                &.heart {
                    width: 163px;
                    height: 144px;
                    background: {
                        image: url("../images/heart.png");
                        repeat: no-repeat;
                        size: cover;
                    }
                    margin-bottom: 45px;
                }
                &.tools {
                    width: 137px;
                    height: 137px;
                    background: {
                        image: url("../images/tools.png");
                        repeat: no-repeat;
                        size: cover;
                    }
                    margin-bottom: 51px;
                }
                &.lamp {
                    width: 116px;
                    height: 155px;
                    background: {
                        image: url("../images/lamp.png");
                        repeat: no-repeat;
                        size: cover;
                    }
                    margin-bottom: 33px;
                }
                &.compas {
                    width: 150px;
                    height: 150px;
                    background: {
                        image: url("../images/compas.png");
                        repeat: no-repeat;
                        size: cover;
                    }
                    margin-bottom: 40px;
                }
            }
            .services_main_block_text {
                text-align: center;
                color: #161616;
                font-family: "PT Serif", serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4px;
            }
        }
    }
    .services_story {
        background-color: #d03958;
        .services_story_wrap {
            display: flex;
            justify-content: space-between;
            padding-top: 31px;
            padding-bottom: 28px;
            .services_story_text {
                max-width: 620px;
                color: #ffffff;
                font-family: "PT Serif", serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4px;
            }
            .services_story_link {
                background-color: #e3d5b8;
                border-radius: 4px;
                padding: 22px 76px 22px 65px; 
                display: block;
                text-decoration: none;
                color: #161616;
                font-family: Montserrat, sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: -0.44px;
            }
        }
    }
}

.pricing {
    background-color: #e3d5b8;
    .pricing_title {
        padding-top: 60px;
        padding-bottom: 50px;
        text-align: center;
        color: #1f1f1f;
        font-family: Montserrat, sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    .pricing_main {
        display: flex;
        justify-content: space-between;
        .pricing_block {
            border-radius: 4px 4px 0 0;
            text-align: center;
            padding: 36px 55px 0;
            max-width: 318px;
            background-color: #ffffff;
            position: relative;
            .pricing_popular {
                position: absolute;
                left: -1px;
                top: -1px;
                width: 91px;
                height: 105px;
                background: {
                    image: url("../images/popular.png");
                    repeat: no-repeat;
                    size: cover;
                }
                .pricing_popular_text {
                    color: #1f1f1f;
                    font-family: "PT Serif", serif;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: -0.32px;
                    transform: rotate(-45deg);
                    position: absolute;
                    left: 9px;
                    top: 24px;
                }    
            }
            .pricing_type {
                color: #161616;
                font-family: "PT Serif", serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.44px;
            }
            .pricing_price {
                padding-top: 30px;
                color: #d03958;
                font-family: Montserrat, sans-serif;
                font-size: 60px;
                font-weight: 700;
                line-height: 80px;
                text-transform: uppercase;
                letter-spacing: -1.2px;
            }
            .pricing_options {
                padding-top: 22px;
                padding-bottom: 30px;
                color: #161616;
                font-family: "PT Serif", serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4px;
            }
            .pricing_link {
                display: block;
                text-decoration: none;
                background-color: #e3d5b8;
                color: #161616;
                font-family: Montserrat, sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: -0.44px;
                padding-top: 15px;
                padding-bottom: 13px;
                min-width: 200px;
                border-radius: 4px;
                &:hover {
                    background-color: #d03958;
                    color: #ffffff;
                    transition: 0.5s;
                }
            }
        }
    }
}

.test_gal_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 135px;
    padding-bottom: 80px;
    .test {
        max-width: 439px;
        .test_title {
            text-align: end;
            padding-right: 16px;
            color: #1f1f1f;
            font-family: Montserrat, sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 80px;
            text-transform: uppercase;
            letter-spacing: -1px;
        }
        .test_type {
            position: relative;
            min-width: 336px;
            padding: 23px 77px 23px 25px;
            margin-bottom: 50px;
            &:last-child {
                background-color: #e3d5b8;
                border-radius: 4px;
            }
            .test_type_pict {
                position: absolute;
                top: 21px;
                right: -65px;
            }
            .test_type_text {
                color: #161616;
                font-family: "PT Serif", serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4px;
                padding-bottom: 15px;
            }
            .test_type_sign {
                color: #d03958;
                font-family: Montserrat, sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4px;
            }
        }
    }
    .gal {
        max-width: 445px;
        .gal_title {
            padding-left: 55px;
            color: #d03958;
            font-family: Montserrat, sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 80px;
            text-transform: uppercase;
            letter-spacing: -1px;
        }
        .gal_main {
            padding-bottom: 55px;
            padding-top: 23px;
            .gal_main_pict {
                display: inline-block;
                width: 105px;
                height: 105px;
                margin: 10px 20px;
            }
        }
        .gal_main_link {
            margin-left: 63px;
            color: #d03958;
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-decoration: underline;
            text-transform: uppercase;
            letter-spacing: -0.4px;
        }
    }
}

.footer {
    background-color: #161616;
    .footer_wrap {
        padding-top: 72px;
        padding-bottom: 35px;
        display: flex;
        justify-content: space-between;
        .footer_text {
            color: #ffffff;
            font-family: "PT Serif", serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.4px;
            .footer_hl {
                color: #d03958;
            }
        }
        .footer_logo {
            color: #d03958;
            font-family: "Quite Chocolatey", sans-serif;
            font-size: 64px;
            font-weight: 400;
            letter-spacing: -1.2px;
        }
    }
}